{% extends 'base.html.twig' %}

{% block title %} Скорочення Url до коду {% endblock %}

{% block body %}

    <section>
        <br> Результат скорочення Url {{ url }} є код:  {{ code }} <br>

    </section>

{% endblock %}